@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --purple: #76aaff;
  --violet: #823fd7;
  --blue: #3b82f6;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.text-gradient-1 {
  background: #3b82f6;
  background: -webkit-linear-gradient(to right, #3b82f6 0%, #7c3aed 100%);
  background: -moz-linear-gradient(to right, #3b82f6 0%, #7c3aed 100%);
  background: linear-gradient(to right, #3b82f6 0%, #7c3aed 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-gradient-1 {
  background: rgb(41, 168, 236);
  background: linear-gradient(
    90deg,
    rgba(41, 168, 236, 1) 50%,
    rgba(0, 127, 255, 1) 100%
  );
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

@keyframes scale {
  from,
  to {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

.magic-text {
  animation: background-pan 4s linear infinite;
  background: linear-gradient(
    to right,
    var(--blue),
    var(--violet),
    var(--purple),
    var(--blue)
  );
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

.magic-text-static {
  background: linear-gradient(
    to right,
    var(--blue),
    var(--violet),
    var(--purple),
    var(--blue)
  );
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

.banner {
  background-color: #387aff;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23417ffc' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
}

.gradient-box {
  background: linear-gradient(334deg, #387aff, #9955f5, #47d8ec);
  background-size: 180% 180%;
}

.bg-custom-2 {
  background-color: #387aff;
  background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23518aff' fill-opacity='0.36' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.bg-custom-3 {
  background: linear-gradient(334deg, #387aff, #6455f5, #479fec);
  background-size: 180% 180%;
  animation: self-gradient-animation 6s ease infinite;
}

textarea {
  resize: none;
}

input:focus {
  outline-style: solid;
}
